section.navigation
  header
    .header-content
      .logo
        a(href='#')
          img(src='img/logo.png', alt='Sedna logo')
      .header-nav
        nav
          ul.primary-nav
            li
              a(href='#features') How
            li
              a(href='#assets') MANAGE
            li
              a(href='#about') about
          ul.member-actions
            if !user
              li(class=title=='Login'?'active':undefined)
                a.login(href='/login') Login
              li(class=title=='Create Account'?'active':undefined)
                a.btn-white.btn-small(href='/signup') Create Account
            else
              li.dropdown(class=title=='Account Management'?'active':undefined)
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  if user.profile.picture
                    img(src='#{user.profile.picture}')
                  else
                    img(src='#{user.gravatar(60)}')
                  | #{user.profile.name || user.email || user.id}&nbsp;
                  i.caret
                ul.dropdown-menu
                  if user
                    li(class=title=='Resume'?'active':undefined)
                      a(href='/upload') Resume
                  li
                    a(href='/account') My Account
                  li.divider
                  li
                    a(href='/logout') Logout
 
